functionsDirectory = "/Users/hazim/Downloads/deploy-مشروع التخرج /netlify/functions"
functionsDirectoryOrigin = "config-v1"
plugins = []
headers = []
redirects = []

[build]
publish = "/Users/hazim/Downloads/deploy-مشروع التخرج "
publishOrigin = "config"
functions = "/Users/hazim/Downloads/deploy-مشروع التخرج /netlify/functions"

  [build.environment]

  [build.processing]

    [build.processing.css]

    [build.processing.html]

    [build.processing.images]

    [build.processing.js]

  [build.services]

[functions]

  [functions."*"]